<header>
  <div class="title">
    {{ if isset .Params "logo" }}
    <a href="/">
      <img src="{{ .Params.logo}}" alt="">
    </a>
    {{ else }}
    <a href="/" class="logo">
      <img src="/assets/me.jpg" alt="">
    </a>
    {{ end }}

    <div class="information">
      <nav>
        <ul>
        {{ range .Site.Menus.main }}
        {{if ne .Name "Projects"}}
        <li><a class="sidebar-nav-item" href="{{.URL}}">{{ .Name }}</a></li>
        {{end}}
        {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>
