<div class="share-page">
    Share this on &rarr; 
    <a href="https://twitter.com/intent/tweet?text=check out this post on {{ .Title }}&url={{ .Permalink }}&via={{ .Site.Params.twitter_username }}&related={{ .Site.Params.twitter_username }}" 
       rel="nofollow" 
       target="_blank" 
       title="Share on Twitter">
      <button class="twitter"><i class="fab fa-twitter"></i></button>
    </a>
    <a href="https://facebook.com/sharer.php?u={{ .Permalink }}" 
       rel="nofollow" 
       target="_blank" 
       title="Share on Facebook">
      <button class="facebook"><i class="fab fa-facebook"></i></button>
    </a>
</div>
